
<h1> <%= @title %> </h1>
<br>
<section> Year of Release : <%=  @year  %>  </section>
<br>
<section>Duration :<%=  @runtime  %>  </section>
<br>
<section> Genre : <%=  @genre  %>  </section>
<br>
<section> Director : <%=  @director  %>  </section>
<br>
<section> Casting : <%=  @cast  %>  </section>
<br>
<img src="<%=@poster%>" alt="">
<section>  </section>
<br>
<section>Plot : <%=  @plot  %>  </section>
<br>











