
    
<h1><%=@title %> </h1>    
<h3><%=@year %>  </h3>
<h3><%=@runtime %>  </h3>
<h3><%=@casting %>  </h3>
<h3><%=@language %>  </h3>
<br>
<p><%=@plot %>  </p>
<br>
<img src="<%=@poster%>" alt="Movie Poster">

